.Dialogs-dialog {
  position: relative; }
  .Dialogs-dialog .close-dialog-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    height: 5em;
    background-color: red;
    border-radius: 50%;
    cursor: pointer; }
