@import 'styles/_zIndex.scss';
@import 'styles/_mixins.scss';
@import 'styles/_animations.scss';

.Units{
	@include transAnimation;
	@include fade-in;
	flex:1;
	position: relative;
	overflow: hidden;
	.Unit{
		z-index: $zIndex_unit;
	}

	&.is-open{
		opacity: 0;
	}
}

